button {
    overflow: hidden;
    position: relative;
}
.clickRippleSpan {
    display: block;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    opacity: .5;
}
.ripple {
    transform: scale(2);
    opacity: 0;
}